@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  #resume-preview,
  #resume-preview * {
    visibility: visible;
  }
  #resume-preview {
    position: absolute;
    left: 0;
    top: 0;
  }
}
